<div id="page_edit">
  <%= form_for([:admin, @page], html: {class: "autofocus", multipart: true}) do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
        <% @page.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title, class: "input-xxlarge" %>

    <div class="row">
      <div class="span4">
       <%= f.label :slug %>
       <%= f.text_field :slug %>
      </div>
      <div class="span4">
        <%= f.label :parent_page %>
        <%= f.select :parent_id, get_pages_tree, include_blank: "No parent" %>
      </div>
      <div class="span4">
        <%= f.label :layout %>
        <%= f.select :layout, available_layout_types.map(&:option_for_select), {}, { :disabled => !@page.new_record? } %>
      </div>
    </div>

    <%= f.label :published_at %>
    <%= f.date_select :published_at %>

    <% unless @page.new_record? %>
      <% @page.sections.each do |section| %>
        <%= render partial: "section", locals: {f: f, section: section} %>
      <% end %>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, class: "btn btn-primary" %>
      <%= link_to "Cancel", admin_pages_path, class: "btn" %>
    </div>
  <% end %>
</div>
