<div class="list-item">

  <div class="list-title">
  	<%= raw("&mdash; " * page.depth) %><%= link_to page.title, page.path %>
  </div>

  <div class="edit-links">
    <%= link_to raw("<i class=\"icon-pencil icon-white\"></i> Edit"),
    	edit_admin_page_path(page), class: "btn btn-info" %>
    <%= link_to raw("<i class=\"icon-plus icon-white\"></i> New Child"),
    	"#{new_admin_page_path}?parent_id=#{page.id}", class: "btn btn-primary" %>
    <%= link_to raw("<i class=\"icon-trash icon-white\"></i> Delete"),
    	[:admin, page], class: "btn btn-danger", confirm: 'Are you sure?', method: :delete %>
  </div>

  <div class="clear"></div>
</div>

<% page.children.order("title").each do |child| %>
  <%= render partial: "list_item", locals: { page: child } %>
<% end %>
