<div class="block">
  <%= f.fields_for :blocks, block, child_index: override_index ||= nil do |block_fields| %>
    <div class="block-header">
    	<h4 class="pull-left"><%= block.type %></h4>
    	<div class="btn-group pull-right">
    		<a class="btn btn-danger delete" href="#"><i class="icon-trash icon-white"></i></a>
    	</div>
    	<div class="clear"></div>
    </div>

    <%= block_fields.hidden_field :type %>
    <%= block_fields.hidden_field :section_key, class: "section_key" %>
    <%= render partial: "admin/blocks/#{block.class.partial_name}", locals: {f: block_fields, block: block} %>
    <%= block_fields.hidden_field :_destroy, value: false, class: "_destroy" %>
  <% end %>
</div>
