<div class="row">
  <div class="span4">
   <%= f.label :video_id %>
   <%= f.text_field :video_id %>
  </div>
  <div class="span2">
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>
  <div class="span2">
  	<%= f.label :height %>
  	<%= f.text_field :height %>
  </div>
</div>
