<%= form_for(@event, :html => {:class => "form-horizontal event_form"} ) do |f| %>
  <div class="row">
    <div class="span8">
      <% if @event.errors.any? %>
        <div id="error_explanation" class="alert alert-block alert-error">
          <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</strong></h4>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="none price_prototype">
        <div class="input-prepend">
          <span class="add-on">$</span>
          <%= text_field_tag :price, nil, class: "span1" %>
          <a class="btn btn-danger" href="#">Remove</a>
        </div>
      </div>


      <fieldset>
        <div class="control-group">
            <%= f.label :name, class:"control-label"%>
            <div class="controls">
              <%= f.text_field :name, class: "input-xlarge", required: true, autofocus: true, 
                placeholder: "Long name for the event (required)" %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :short_name, class:"control-label" %>
            <div class="controls">
              <%= f.text_field :short_name, class: "input-xlarge", required:true, pattern: ".{1,25}", 
                title: "25 character limit", placeholder: "What appears on GTV & iCal (required, ≤ 25 chars)", maxlength: 25 %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :location, class:"control-label" %>
            <div class="controls">
              <%= f.text_field :location, class: "input-xlarge", required:true, placeholder: "Location for event (required)" %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :committee, class:"control-label" %>
            <div class="controls">
              <%= f.collection_select :committee_id, Committee.find(:all), :id, :name, {:prompt => "Committee (required)"} , required: true %>
            </div>
        </div>
      </fieldset>
      
      <hr/>

      <fieldset>
        <div class="control-group">
            <%= f.label :start_date, class:"control-label" %>
            <div class="controls">
              <div class="datetimepicker input-append date" id="start-date">
              <%= f.text_field :start_date, "data-format" => "yyyy-MM-dd HH:mm PP", required: true%>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :end_date, class:"control-label" %>
            <div class="controls">
              <div class="datetimepicker input-append date" id="end-date">
              <%= f.text_field :end_date, "data-format" => "yyyy-MM-dd HH:mm PP", required: true%>
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
              </span>
            </div>
            </div>
        </div>
      </fieldset>

      <hr/>
      
      <fieldset>
        <div class="control-group">
            <%= f.label :short_description, class:"control-label" %>
            <div class="controls">
              <%= f.text_area :short_description, class: "input-xlarge", rows: "2",  placeholder:"A short descrition"  %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :description, class:"control-label" %>
            <div class="controls">
              <%= f.text_area :description, class: "input-xlarge", placeholder:"Used in on the site and on the iCal" %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :featured, class: "control-label" %>
            <div class="controls">
                <%= f.check_box :featured %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :image, class:"control-label" %>
            <div class="controls">
              <%= f.file_field :image %>
              <%= f.hidden_field :image_cache %>
            </div>
        </div>
        <!-- Use this in order to display images -->
        <%= image_tag(@event.image_url) if @event.image? %>
      </fieldset>
      

      <!--
      <%= f.label :prices %>
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= text_field_tag :price, nil, class: "span1" %>
        <a id="add_event_price_button" class="small super button" href="#">Add Price</a>
      </div>
      -->

      

      
      
    </div>
    <div class="span3">
      <h3> Other Events </h3>
      <section id="other_events">
        <span id="other-events-loading" class="hide">
          Loading relevant events...
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </span>
        <div id="other-events-error" class="alert alert-error hide">
          Error loading relevant events.
        </div>
      </section>
    </div>
  </div> <%# End Row %>
  <div class="form-actions">
    <%= f.submit nil, class: "btn btn-primary" %>
    <%= link_to "Cancel", "#{events_path}#{params[:when]?'?when='+params[:when]:''}",
      class: "btn" %>
  </div>

  <%#
    This passes along the :when paramater to the controllers.
  %>
  <% if params[:when] %>
    <input type="hidden" name="when" value=<%=params[:when]%> />
  <% end %>
<% end %>
