<% title "Events" %>
<h1>Events</h1>

<ul class="nav nav-tabs">
	<li <%= "class=active" if @when == :future%>>
		<a href="?">Future</a>
	</li>
	<li <%= "class=active" if @when == :past%>>
		<a href="?when=past">Past</a>
	</li>
	<li <%= "class=active" if @when == :all%>>
		<a href="?when=all">All</a>
	</li>
</ul>

<div class="edit-list">
  <% @events.each do |week, events| %>
  	<div class="list-label"> 
  		<%= week[:start_day].strftime("%b %-d") %>
  		 to 
  		<%= week[:end_day].strftime("%b %-d") %>
  	</div>
  	<% events.each do |event| %>
    	<%= render partial: "list_item", locals: { event: event } %>
	  <% end %>
  <% end %>
</div>

<br />

<% if can? :create, Event %>
  <%= link_to raw("<i class=\"icon-plus icon-white\"></i> New Event"),
	new_event_path, class: "btn btn-primary" %>
<% end %>
