<% title "Events" %>

<div class="title">
  <h1>Events</h1>
</div>


<% if @featured_events %>
  <ul class="row-fluid thumbnails featured-events">
    <% @featured_events.each do |event| %>
      <li class="span4">
        <div class="thumbnail">
          <%= link_to image_tag(event.image_url), events_public_show_path(event) %>
          <div class="caption">
            <h4><%= link_to event.short_name, events_public_show_path(event) %></h4>
            <p><%= event.short_description %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="display-wrapper">

  <div class="filter">
    <span class="inactive-entry">Filter by:</span>
    <span class="inactive-entry"><%= link_to 'All' %></span>

    <% Committee.all.each do |tag| %>
      <%if params[:filter].eql?(tag.name)%>
        <span class="active-entry">
      <%else%>
        <span class="inactive-entry">
      <%end%>
      <%= link_to tag.name, :filter => tag.name %>
      </span>
    <% end %>
  </div>

</div>
<br />
<% @events.each do |event| %>
  <div class="event-preview-wrapper">
    <div class="gradient-test">
      <div class="event-preview">
        <h3><%= link_to event.name, events_public_show_path(event) %></h3>
        <div class="event-info">
          <%= "#{event.start_date.strftime("%A %-m/%d")}, #{event.start_date.strftime("%l:%M %P")} - #{event.end_date.strftime("%l:%M %P")}" %>
        </div>
        <div class="event-description">
          <%= event.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
