<div class="display_wrapper">

  <div class="filter">
    <span class="inactive-entry">Filter by:</span> 
    <span class="inactive-entry"><%= link_to 'All' %></span>
	
	<% Committee.all.each do |tag| %> 
	  <%if params[:filter].eql?(tag.name)%>
        <span class="active-entry">
	  <%else%>
	    <span class="inactive-entry">
	  <%end%>
	  <%= link_to tag.name, :filter => tag.name %>
	  </span>
	<% end %>
  </div>

  <div class="view">
    <span class="inactive-entry">View:</span> 
    <span class="inactive-entry"><%= link_to 'Calendar View', :view => 'calendar'%></span>
    <span class="active-entry"><%= link_to 'List View' %></span>
  </div>
</div>
<br/>

<div class="title">
  <h1>Events</h1>
</div>

<% @events.each do |event| %>
  <div class="event-preview-wrapper">
    <div class="gradient-test">
      <div class="event-preview">
        <h3><%= link_to event.name, pub_show_path(event) %></h3>
        <div class="event-info">
          <%= "#{event.start_date.strftime("%A %m/%d")}, #{event.start_date.strftime("%I:%M%p")} - #{event.end_date.strftime("%I:%M%p")}" %>
        </div>
        <div class="event-description">
          <%= event.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
