<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<% if can? :update, @event %> 
<%= link_to 'Edit', edit_event_path %> |
<% end %>
<%= link_to 'Back', pub_events_path %>
