<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br />
    <%= f.date_select :published_at %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, class: "none" %>
    <div class="ace"><%= @page.content %></div>
  </div>
  <div class="actions">
    <%= link_to "Cancel", pages_path, class: "medium red super button" %>
    <%= f.submit nil, class: "medium super button" %>
  </div>
<% end %>
