<div class="list_item">
  <div class="list_title"><%= raw("&mdash; " * page.depth) %><%= link_to page.title, edit_page_path(page) %></div>
  <div class="edit_links">
    <%= link_to 'View', page.path, target: "_blank" %>
    <%= link_to 'New child', "#{new_page_path}?parent_id=#{page.id}", class: "super button" %>
    <%= link_to 'Destroy', page, class: "red super button", confirm: 'Are you sure?', method: :delete %>
  </div>
  <div class="clear"></div>
</div>
<% page.children.order("title").each do |child| %>
  <%= render partial: "list_item", locals: { page: child } %>
<% end %>

