<% if @page.has_children? %>
  <% content_for :sidebar do %>
    <h4><%= @page.name %></h4>
    <ul>
      <% @page.children.each do |subpage| %>
        <li><%= link_to subpage.name, subpage %></li>
      <% end %>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>

<%= format_markdown @page.content %>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
