<!DOCTYPE html>
<html>
<head>
  <title>Society of Software Engineers @ RIT</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="outer_container">
    <div id="top_nav_wrapper">
      <div id="top_nav">
        <%= link_to root_url do %>
          <%= image_tag "logo-white.png", 
            alt: "Society of Software Engineers", id: "logo" %>
        <% end %>

        <div id="nav_links">
          <%= link_to "HOME", "#", class: "active" %>
          <%= link_to "NEWS", "#" %>
          <%= link_to "EVENTS", "#" %>
          <%= link_to "PROJECTS", "#" %>
          <%= link_to "ABOUT", "#" %>
          <%= link_to "LOGIN", "#", class: "login" %>
        </div>

        <div class="clear"></div>
      </div>
    </div>
    
    <%= yield :header %>    

    <div id="content_wrapper">

      <div id="content_left">

        <%= yield %>

      </div>

      <div id="content_right">

        <h4>Upcoming Events</h4>
        <p>
          Lorem ipsum dolor sit amet...
        </p>

        <h4>SSE News</h4>
        <p>
          Lorem ipsum dolor sit amet...
        </p>

        <%= yield :sidebar %>

      </div>

      <div class="clear"></div>

    </div>
    <div id="footer">

      All content is Copyright &copy; 2011 RIT Society of Software Engineers.

    </div>
  </div>
</body>
</html>

