<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)} &mdash; Society of Software Engineers @ RIT".html_safe : "Society of Software Engineers @ RIT" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="outer_container">
    <div id="top_nav_wrapper">
      <div id="top_nav">
        <%= link_to root_url do %>
          <%= image_tag "logo-white.png", 
            alt: "Society of Software Engineers", id: "logo" %>
        <% end %>

        <div id="nav_links">
          <%= active_link_to "HOME", root_path %>
          <%= active_link_to "NEWS", "/news" %>
          <%= active_link_to "EVENTS", pub_events_path %>
          <%= active_link_to "PROJECTS", "/projects" %>
          <ul>
            <li class="dropdown" id="committees-menu">
              <%= link_to "ABOUT THE SSE <b class='caret'></b>".html_safe, "#", data: { toggle: "dropdown" }, class: "dropdown-toggle" %>
              <ul class="dropdown-menu">
                <li><%= link_to "About", "/about" %></li>
                <li class="divider"></li>
                <li><%= link_to "Mentoring Committee", "/mentoring" %></li>
                <li><%= link_to "Projects Committee", "/projects" %></li>
                <li><%= link_to "Fundraising Committee", "/fundraising" %></li>
                <li><%= link_to "Intramurals Committee", "/intramurals" %></li>
                <li><%= link_to "PR Committee", "/pr" %></li>
                <li><%= link_to "ViSE Committee", "/vise" %></li>
                <li class="divider"></li>
                <li><%= link_to "Tech Talks", "/tech-talks" %></li>
                <li><%= link_to "Crash Courses", "/crash-courses" %></li>
              </ul>
            </li>
          </ul>
          <% unless signed_in? %>
            <%= link_to "LOG IN", auth_path, class: "login" %>
          <% else %>
            <ul>
              <li class="dropdown" id="committees-menu">
                <%= link_to "ADMIN <b class='caret'></b>".html_safe, "#", data: { toggle: "dropdown" }, class: "dropdown-toggle login" %>
                <ul class="dropdown-menu">
                  <li><%= link_to "Dashboard", admin_path %></li>
                  <li><%= link_to "Pages", pages_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", auth_logout_path %></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div>

        <div class="clear"></div>
      </div>
    </div>

    <%= yield :header %>

    <div id="content_wrapper">
      <% if content_for? :sidebar %>
        <div id="content_left">
          <%= render partial: "shared/flash", locals: { flash: flash } %>
          <%= yield %>
        </div>
        <div id="content_right">
          <%= yield :sidebar %>
        </div>
      <% else %>
        <%= render partial: "shared/flash", locals: { flash: flash } %>
        <%= yield %>
      <% end %>

      <div class="clear"></div>

    </div>
    <div id="footer">

      All content is Copyright &copy; <%= Time.now.year %> RIT Society of Software Engineers.

    </div>
  </div>
  <%= render partial: "shared/stats" %>
</body>
</html>

